body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

main{
    flex: 1;

}

footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  
  
  
  
  
  

.logo{
    height:100%;
    width:50%;
    background-color:blanchedalmond;
   
}


.navbar {
   display: flex;
   align-items: flex-end;
   padding: 20px 80px;
   justify-content: space-between;
   background-color: #efe6f3;
   box-shadow: 0px 5px 15px;
}

.navbar li  {
list-style: none;
padding: 0 20px;

}

.navbar li a {
   text-decoration: none;
   font-size: 16px;
   font-weight:600 ;
   color: #010101;
   transition: 0.3 ease;
}

.navbar li a:hover {
    color: #088178;
}

.footer {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    max-height: 40%;
    background-color:#088178;
    display: flex;
    justify-content: space-between;
    
    flex-direction: row;
  
  }
  
  .footerTag {
      width: 200px;
  }
  
  .footerTag a {
      text-decoration: none;
      color: white;
  }


  input[type=text], select, textarea, input[type=tel] {
    width: 100%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 15px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:#088178;
  }
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 200px;
    display: flex;
    overflow: hidden;
    
   
   
  }
  
.imagecontainer {
    display: flex;
    width: 100vw;
    height: 50vh;
}

  .imageslide {
    width: 20rem;
    height: auto;

  }

 
